html {
  box-sizing: border-box;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: #fff;
  width: 100%;
  margin: 0;
}

header {
  margin: 0;
}

nav img {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  width: 4rem;
  margin-right: 70rem;
}

nav ul {
  background: #e0e0e2;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: mundial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

nav li {
  list-style: none;
  margin-right: 10rem;
}

nav a {
  text-decoration: none;
  color: #721817;
  transition: all 0.3s ease 0s;
}

nav a:hover {
  color: #231f20;
}

.photogrid {
  display: grid;
  justify-content: center;
  grid-template-columns: 700px 700px;
  grid-template-rows: 700px 700px;
  grid-gap: 30px;
  padding: 50px;
}

section img {
  width: 142%;
  height: auto;
}
