html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
font-family: "Mundial", sans-serif;
line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  background: #fff;
}

.nav-list{
  background: #E0E0E2;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
