html {
  box-sizing: border-box;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: #fff;
  width: 100%;
  margin: 0;
}

header {
  margin: 0;
}

nav img {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  width: 4rem;
  margin-right: 70rem;
}

nav ul {
  background: #e0e0e2;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: mundial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

nav li {
  list-style: none;
  margin-right: 10rem;
}

nav a {
  text-decoration: none;
  color: #721817;
  transition: all 0.3s ease 0s;
}

nav a:hover {
  color: #231f20;
}

.banner {
  position: relative;
  max-height: 50vh;
}

.banner img {
  width: 100%;
}

.banner-content {
  position: absolute;
  bottom: -4em;
  left: 10em;
  width: 21%;
}

.banner-content h1 {
  font-family: mendl-sans-dawn, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.banner-content p {
  font-family: mundial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-top: 0;
  width: 80%;
}

.banner-content a {
  font-family: mundial, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: white;
}

.btn {
  font-size: .7rem;
  background-color: #721817;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.btn:hover {
  background: #231f20;
}

.photogrid {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "photoOne photoTwo" "photoThee photoFour";
  grid-template-columns: 34% 34%;
  grid-template-rows: 24% 24%;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

section img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 40% 32%;
}

footer {
  background: #e0e0e2;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: mundial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

footer a {
  color: #721817;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

footer a:hover {
  color: #231f20;
}
